body {
  /* Set line height to 1.5 times the font size
      and use the OS’s UI font as the website font
    */
  font: 100%/1.5 system-ui;
  max-width: 80ch; 
  margin-inline: auto;
  padding: 1rem;
  }

nav ul {
  display: contents;
  }

nav li {
  display: contents;
  }  

nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  border-bottom-color: oklch(80% 3% 200);
  }

nav a {
  flex: 1; 
  text-align: center; 
  padding: 0.5em; 
  color: inherit; 
  text-decoration: none;
  }

nav a.current {
  border-bottom-width: 0.4em;
  padding-bottom: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  font-weight: bold;
  }

nav a:hover {
  border-bottom-width: 0.4em;
  padding-bottom: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  }

html {
  --color-accent: oklch(40% 0.1 270);
  accent-color: var(--color-accent);
  }